<div class="event-filter-sidebar">
  <div class="bcw-section-header">Events</div>

  <div class="event-filters">
    <div class="filter">All</div>
    <div class="filter">Bridal Show</div>
    <div class="filter">Trunk Show</div>
    <div class="filter">Other</div>
  </div>

  <div class="event-filters">
    <div class="filter-header">Date of Event</div>
    <div class="filter">30 Days</div>
    <div class="filter">3 Months</div>
    <div class="filter">6 Months</div>
  </div>
</div>