/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require application_erb
*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

a:link,
a:active,
a:visited {
  color: #502d0e;
  text-decoration: none;
}
a:hover {
  color: #f2005b;
  text-decoration: none;
}
.core-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3em;
}
.light{
  color: #999;
}

body {
  margin-top: 0px;
  color: #502D0E;
}

.site-center {
  text-align: left;
  width: 1045px;
  margin: 0 auto;
}

.bcw-section-header{
  color: #F2005B;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
  font-style: italic;
  font-family: georgia,arial,sans-serif;
}


/* Main Nav Bar */
.site-navigation-bar-container {
  width:100%;
  height:26px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  text-align: center;
}
.site-navigation-bar-inner{
  width: 986px;
  margin: 0 auto;
}
.site-navigation-bar-button {
  border-right: 1px solid #444;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 11pt;
  font-weight: 100;
  float: left;
  line-height: 26px;
  color: #444;
  padding: 0 15px;
}
.site-navigation-bar-button.left{
  border-left: 1px solid #444;
  margin-left: 15px;
}


/* Sidebar */
.sidebar-pane{
  margin-bottom: 30px;
  font-family: arial, verdana, sans-serif;
  font-size: 10px;
  .bcw-section-header{
    font-size: 19px;
    margin: 0;
  }
  .header-row{
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    height: 18px;
    line-height: 15px;
    .vendor{ float:left; text-align: left; padding-left: 5px; }
    .review{ float:right; text-align: right; padding-right: 5px; }
  }
  .content-row{
    border-bottom: 1px dotted #999;
    width: 300px;
    height: 33px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 11px;

    .event-date{
      float:left;
      width: 50px;
    }
    .event-description{
      float:left;
      .event-title,
      .event-host{
        width: 250px;
      }
      .event-host{
        font-weight: normal;
      }
    }
  }
  .more-link{
    padding: 5px 0 0 5px;
  }
  .bcw-section-header + .content-row{
    border-top: 1px dotted #999;
  }
}

.sidebar-vendor-badge{
  float:left;
  width: 120px;
}
.sidebar-vendor-badge-code{
  float: right;
  width: 155px;
  font-size: 11px;
  .badge-code-header{
    font-weight: bold;
  }
  .badge-code-container{
    width: 155px;
    height: 105px;
    margin-top: 5px;
    resize: none;
    font-size: 10px;
  }
}


/* Main Content */
#bcw-content{
  width: 1045px;
  margin: 0 auto;
  text-align: left;
}
.bcw-left-pane{
  float: left;
  width: 690px;
}
.bcw-right-pane{
  float:right;
  width: 300px;
  margin: 15px 0 0 25px;
}


/* Footer */
#bcw-footer{
  width: 1045px;
  margin: 0 auto;
}
.bcw-footer-seo-text{
  width: 100%;
  font-size: 10px;
  font-family: sans-serif;
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  margin-bottom: 10px;
}
.bcw-footer-links .city-landing-city-column{
  width: 260px;
  float: left;
  text-align: left;
}
.bcw-footer-links .city-landing-city-column .city-landing-citylist-text{
  font-family: arial, verdana, sans-serif;
  font-size: 11px;
  font-weight: 100;
  padding-bottom: 6px;
  cursor: pointer;
}
div.bcw-footer-links a,
div.bcw-footer-links a:link,
div.bcw-footer-links a:visited {
  color: #999;
}
div.bcw-footer-links a:hover{
  color: #f2005b;
  text-decoration: underline;
}

