<div id="bcw-footer">
  <div class="bcw-footer-seo-text">
    Atlanta Weddings - Discover highly rated Atlanta wedding vendors. Find Atlanta wedding planning ideas and more.
  </div>

  <div class="bcw-footer-links">
    <div class="city-landing-city-column">
      <div class="city-landing-citylist-text"><a href="http://www.thebestatlantaweddings.com" target="_blank">Atlanta Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestbaltimorewedding.com" target="_blank">Baltimore Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestbostonweddings.com" target="_blank">Boston Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.thebestchicagoweddings.com" target="_blank">Chicago Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestdallasweddings.com" target="_blank">Dallas Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestdenverweddings.com" target="_blank">Denver Weddings</a></div>
    </div>

    <div class="city-landing-city-column">
      <div class="city-landing-citylist-text"><a href="http://www.bestdetroitweddings.com" target="_blank">Detroit Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.besthoustonweddings.com" target="_blank">Houston Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.thebestlasvegasweddings.com" target="_blank">Las Vegas Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestlongislandweddings.com" target="_blank">Long Island Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestlosangelesweddings.com" target="_blank">Los Angeles Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.thebestmiamiweddings.com" target="_blank">Miami Weddings</a></div>
    </div>

    <div class="city-landing-city-column">
      <div class="city-landing-citylist-text"><a href="http://www.bestminneapolisweddings.com" target="_blank">Minneapolis Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestmanhattanweddings.com" target="_blank">New York City Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestocweddings.com" target="_blank">Orange County Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestorlandoweddings.com" target="_blank">Orlando Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestphiladelphiaweddings.com" target="_blank">Philadelphia Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestphoenixweddings.com" target="_blank">Phoenix Weddings</a></div>
    </div>

    <div class="city-landing-city-column">
      <div class="city-landing-citylist-text"><a href="http://www.bestraleighweddings.com" target="_blank">Raleigh Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestsandiegoweddings.com" target="_blank">San Diego Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestsanfranciscoweddings.com" target="_blank">San Francisco Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestseattleweddings.com" target="_blank">Seattle Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.besttampaweddings.com" target="_blank">Tampa Weddings</a></div>
      <div class="city-landing-citylist-text"><a href="http://www.bestdcweddings.com" target="_blank">Washington, DC Weddings</a></div>
    </div>
  </div>

</div>