<div class="sidebar-pane">
    <div class="bcw-section-header">
      Recently Reviewed Vendors
    </div>

    <div class="header-row">
      <div class="vendor">Vendor</div>
      <div class="review">Last Review</div>
    </div>

</div>